* {
    margin: 0%;
    padding: 0%;
}

body {
    background: url(/pngtree-creative-blackboard-mathematical-background-picture-image_102289.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
    height: 100vh;
}

input {
    width: 350px;
    height: 40px;
    padding-left: 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
}

button {
    width: 70px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}

.add {
    background: white;
    color: black;
    font-weight: 600;
}

.sub {
    background: black;
    color: white;
    font-weight: 600;
}

.mul {
    background: rgb(232, 2, 167);
    font-weight: 600;
    color: white;
}

.div {
    background: yellow;
    font-weight: 600;
}

.cler {
     background: red;
     color: white;
     border: 1px solid red;
     font-weight: 600;
}

.btn-div {
    display: flex;
    flex-direction: row;
}
