* {
    margin: 0%;
    padding: 0%;
}

body {
    background: url(/pngtree-creative-blackboard-mathematical-background-picture-image_102289.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
    height: 100vh;
}

input {
    width: 350px;
    height: 40px;
    padding-left: 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
}

button {
    width: 70px;
    height: 30px;
    font-size: 15px;
}

.btn-div {
    display: flex;
    flex-direction: row;
}
